<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">home</a></li>
				<!-- <li><a href="snguyen_cv">cv</a></li> -->
				<li><a href="/log">logs</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li>email: snguye at uw.edu</li>
	        		<li><a href="https://github.com/michi-gato" target="_blank">github.com/michi-gato</a></li>
				<li><a href="https://twitter.com/snewyuen" target="_blank">tweets</a></li>			</ul>
			</footer>
		</body>
	</html>
